body {
    font-family: 'Lato', 'Arial', sans-serif;    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1c151c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.calculator {
    display: grid;
}

.value {
    grid-column: span 4;
    font-size: 18px;
    padding: 0.6em;
    min-height: 100px;
    border: none;
    outline: none;
    background-color: #fff;
}

.calculator .num {
    display: grid;
    width: 60px;
    min-height: 60px;
    color: #fff;
    place-items: center; 
    cursor: pointer;
    border: 0.1px solid #615e5f;
    background: #454245;
}

.calculator span:active {
    color: #111;
    background: #5FFBF1;   
}

.calculator .clear {
    grid-column: span 2;
    width: 120px;
    background-color: #fc0581;
}

.calculator .plus {
    grid-row: span 2;
    height: 120px;   
}

.calculator .equal {
   background: #5FFBF1;
}